
.container{
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
h1 {
    text-align: center;
    background-color: #0f0f0f;
    color: #ccc;
    border-radius: 10px;
}
form {
    display: grid;
    background-color: #0000005b;
    padding: 10px;
    align-content: center;
    border-radius: 10px;
}
.form-control { /* clase de bootstrap */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn { /* clase de bootstrap*/
    height: 40px;
    position: relative; /* Desplazamiento por temas esteticos*/
    top: 21px; /* Desplazamiento vertical */
    left: 10px; /* Desplazamiento horizontal */
}
.btn-primary { /* clase de bootstrap*/
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; 
    
}
.btn-primary:hover {
    background-color: #0056b3;
}
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}